<h2>Latest posts:</h2>
<br/>
<% @results.each do |post| %>
	<p>
		<%= post [2] %>
		<br/>
		<br/>
		Added at: <%= post [1] %>
		<br/>
		<br/>
		<a href="/post/<%= post [0] %>">Comments</a>
	</p>
	<hr/>
<% end %>